apiVersion: batch/v1
kind: Job
metadata:
  name: builder-{{ challenge_name }}
  namespace: {{ registry_namespace }}
spec:
  ttlSecondsAfterFinished: 100
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
      - name: debug
        image: alpine:latest
        command: ["sh", "-c", "sleep 3600"]
        volumeMounts:
        - name: kaniko-secret
          mountPath: /kaniko/.docker
        - name: git-ssh
          mountPath: /kaniko/.ssh
        - name: workspace
          mountPath: /workspace
      - name: kaniko
        image: gcr.io/kaniko-project/executor:latest
        args:
          - --context=git@{{ challenge_repo }}
          - --dockerfile=Dockerfile
          - --destination=challenge-registry-service.{{ registry_namespace }}/{{ challenge_name }}:latest
          - "--verbosity=debug"
          - --insecure
        volumeMounts:
        - name: kaniko-secret
          mountPath: /kaniko/.docker
        - name: git-ssh
          mountPath: /kaniko/.ssh
          readOnly: true
      volumes:
        - name: workspace
          emptyDir: {}
        - name: kaniko-secret
          secret:
            secretName: registry-auth-map
            items:
              - key: .dockerconfigjson
                path: config.json
        - name: git-ssh
          secret:
            secretName: git-ssh-key
      restartPolicy: Never
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-auth-map
  namespace: {{ registry_namespace }}
data:
  .dockerconfigjson: {{ registry_data }}
